body {
    background-color: black;
    background-image: url(/images/pexels-pixabay-159400.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.logo {
    width: 60px;
    height: 60px;
}

.titulo1 {
    margin-top: 0px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo2 {
    font-size: 30px;
}


.main_posicion {
    position: relative;
    top: 25%;
}

.registrado {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding-left: 1px;
    padding-bottom: 1px;
    padding-top: 8px;
    margin-top: 60px;
    margin-left: 600px;
    margin-right: 600px;
    visibility: visible;
    animation: chao 2s forwards;
}

@keyframes chao {
    0% { opacity: 1; }
    100% { opacity: 0; 
        visibility: hidden;}
}

.imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    width: 100px;
    height: 100px;
}